/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


/* Body styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.yellow * {
    color: #FFCC00; /* Curio's yellow */
}

/* Header styling */
header {
    background-color: #03357C; /* Curio's blue */
    padding: 20px 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.logo img {
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 8px 15px;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #FFF;
    color: #03357C;
    border-radius: 5px;
}

/* Hero section styling */
p{
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
}

h2 {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #03357C; /* Curio's blue */
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50%;
    height: 4px;
    background-color: #FFCC00; /* Curio's yellow */
}
section{
    padding: 50px 0;
    display: flex;
    align-items: center;
}

section:nth-child(odd) {
    background-color: #fff;
}

section:nth-child(even) {
    background-color: #f2f2f2;
}

.hero {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.heroContent {
    z-index: 2;
    max-width: 600px;
}

.heroContent h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 80px;
}

.heroContent p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #FFCC00; /* Curio's yellow */
    color: #03357C;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.heroContent .btn:hover {
    background-color: #e0a300;
}

/* Hero image styling */
.heroImg {
    z-index: 2;
}

.heroImg img {
    max-width: 500px;
    border-radius: 10px;
}

/* Course section styling */

.course .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.courseInfo {
    flex: 1;
    padding-right: 20px;
}


.courseImg {
    flex: 1;
    text-align: center;
}

.courseImg img {
  width: 100%;
  height: auto;
  display: block; /* optional, removes any small gap at the bottom of images */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Subjects section styling *//* Subjects section styling */


.subjectsContent {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.subjectsInfo {
    flex: 1;
}


.subjectImg {
flex: 1;}

.subjectImg img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subjectsGrid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.subject {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subject h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.subject p {
    font-size: 1rem;
    color: #666;
}


.accelerate .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.accelerateInfo {
    flex: 1;
    padding-right: 20px;
}


.accelerateInfo p {
    font-size: 1.1rem;
    color: #555;
}

.accelerateImg {
    flex: 1;
    text-align: center;
}

.accelerateImg img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Teachers section styling */

.teachersInfo {
    text-align: center;
    margin-bottom: 30px;
}

.teachersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.teacherCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teacherCard img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.teacherCard h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #03357C; /* Curio's blue */
}

.teacherCard p {
    font-size: 1rem;
    color: #555;
}

.teacherCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Opinion section styling */


.opinionInfo {
    text-align: center;
}


.opinionCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinionContent {
    margin-bottom: 20px;
}

.opinionAuthor {
    text-align: center;
}

.opinionAuthor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.opinionAuthor h4 {
    font-size: 1.4rem;
    color: #03357C; /* Curio's blue */
    margin-bottom: 5px;
}

.opinionAuthor p {
    font-size: 1rem;
    color: #666;
}

/* Footer Styling */
footer {
    background-color: #03357C; /* Curio's blue */
    color: white;
    padding: 50px 0 0;
}
#shadow-host-companion{
    display: none;
}

.footerGrid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footerSection {
    flex: 1;
    max-width: 250px;
}

.footerLogo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footerSection h4 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.footerSection p,
.footerSection a {
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
}

.footerSection ul {
    list-style: none;
    padding: 0;
}

.footerSection ul li {
    margin-bottom: 10px;
}

.footerSection ul li a:hover {
    text-decoration: underline;
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.socialIcons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.socialIcons img:hover {
    opacity: 0.8;
}

.footerBottom, .footerBottom p {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #fff;

}

/* Responsive media queries */
@media screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }

    .heroImg img {
        max-width: 400px;
    }
    .course .wrapper {
        flex-direction: column;
    }
    .courseInfo {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .courseImg {
        text-align: center;
    }
    .courseImg img {
        max-width: 500px;
    }
    .subjectsContent {
        flex-direction: column;
    }
    .subjectImg img {
        max-width: 400px;
    }
    .subjectsGrid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .subject {
        padding: 15px;
    }
    .accelerate .wrapper {
        flex-direction: column;
    }
    .accelerateInfo {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .accelerateImg {
        text-align: center;
    }
    .accelerateImg img {
        max-width: 500px;
    }
    .teachersGrid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .teacherCard img {
        height: 100px;
    }
    .teacherCard h4 {
        font-size: 1.2rem;
    }
    .teacherCard p {
        font-size: 0.9rem;
    }
    .opinionCard {
        padding: 15px;
    }
    .opinionAuthor img {
        width: 80px;
        height: 80px;
    }
    .opinionAuthor h4 {
        font-size: 1.2rem;
    }
    .opinionAuthor p {
        font-size: 0.9rem;
    }
    .footerGrid {
        justify-content: center;
    }
    .footerSection {
        flex: 1;
        max-width: 100%;
    }
    .footerLogo {
        max-width: 100px;
    }
    .footerSection h4 {
        font-size: 1.2rem;
    }
    .footerSection p,
    .footerSection a {
        font-size: 0.9rem;
    }
    .socialIcons img {
        width: 25px;
        height: 25px;
    }
    .footerBottom, .footerBottom p {
        font-size: 0.8rem;
    }

}

/* Burger menu icon */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Mobile Menu */
nav ul {
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 925px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #03357C;
        width: 200px;
        padding: 10px;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin-left: 0;
        text-align: right;
        padding: 10px 0;
    }

    nav ul li a {
        padding: 10px;
        color: #FFF;
        display: block;
        width: 100%;
    }

    /* Show burger menu */
    .burger {
        display: flex;
    }
    .heroImg img {
        display: none;
    }
}


